<!DOCTYPE html>
<html>
  <head>
    <title>i18n Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here is the demo page for i18n:</h1>
    <lu>
      <li>
          <span>simple phrase:<span>
          <p><%= simple_phrase %></p>
      </li>
      <li>
        <span>plurals phrase:<span>
        <p><%= zero_apple %></p>
        <p><%= single_apple %></p>
        <p><%= plurals_apple %></p>
      </li>
      <li>
        <span> sentances:<span>
        <p><%= sentance1 %></p>
        <p><%= sentance2 %></p>
      </li>
    </lu>
  </body>
</html>
